<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finalproj">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".NoviceBackground"></activity>
        <activity android:name=".NoviceWeaponChoice" />
        <activity android:name=".NoviceRaceChoice" />
        <activity android:name=".CharacterReview" />
        <activity android:name=".StatCharCreationActivity" />
        <activity android:name=".WeaponCharCreation" />
        <activity android:name=".BackgroundCharCreation" />
        <activity android:name=".ClassPageCharCreation" />
        <activity android:name=".RecommendedCharacter" />
        <activity android:name=".ViewCharacterActivity" />
        <activity android:name=".RulesActivity" />
        <activity android:name=".NewCharacterActivity" />
        <activity android:name=".CharacterAbridgedActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainMenu" />
        <activity android:name=".UserLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>